body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
  }
  
  nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .nav-container {
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(45deg, #fff 0%, #f7f0f2 30%, #ebe5e7 60%, #fff 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .folio {
    display: flex;
    justify-content: flex-start;
  }
  
  .folio h1 {
    color: #fa2964;
    font-family: 'Abel', sans-serif;
    font-family: 'Grandiflora One', serif;
    font-family: 'Gruppo', sans-serif;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
  }
  
  .folio h1 span {
    font-size: 70px;
    color: #f54125;
  }
  
  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  ul.navbar li {
    float: left;
  }
  
  ul.navbar li a {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ed4272;
  }
  
  ul.navbar li a i {
    margin-right: 5px;
  }
  
  ul.navbar li a:hover {
    color: #eea3b8;
    transition: color 0.3s ease-in-out;
  }
  
  .content {
    position: relative;
    margin-top: 8vh;
  }
  
  .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  ul.horizontal-navbar {
    margin: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    background: transparent;
    order: 2;
  }
  
  ul.horizontal-navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  ul.vertical-navbar {
    position: fixed;
    top: 45px;
    right:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    background-color: transparent;
  }
  
  ul.vertical-navbar.show-navbar {
    opacity: 1;
    background-color: transparent;
    pointer-events: auto;
  }
  
  ul.vertical-navbar li {
    margin-bottom: 10px;
  }
  .icon {
    width: 350px;
    height: 350px;
    border-radius: 51% 49% 43% 57% / 66% 65% 35% 34%;
    background: linear-gradient(45deg, #f54125, #f02a62, #fa2964, #f54125);
    position: absolute;
    top: 5%;
    left: 65%;
    overflow: hidden;
    transition: top 0.5s ease-in-out; /* Added transition property */
  }
  
  .icon img {
    position: absolute;
    bottom: 38px;
    left: 0;
    width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out; /* Added transition property */
  }
  

  
  
  section {
    padding: 40px 0;
  }
  
  section h2 {
    font-size: 24px;
    color: #333;
    font-family: 'Grandiflora One', serif;
    margin-bottom: 20px;
  }

  section#home h1 {
    color: rgb(36, 10, 83);
    font-size: 48px;
    position: relative;
    top: 50px;
    left: 150px;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
  }
  
  section#home h2 {
    color: #fa2964;
    font-size: 50px;
    position: relative;
    top: 50px;
    left: 150px;
    font-family: 'Abel', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
  }
  
  section#home h2 span {
    color: rgb(36, 10, 83);
    font-weight: 100;
    font-size: 60px;
  }
  
  section#home h3 {
    color: #f02a62;
    font-family: 'Abel', sans-serif;
    font-family: 'Grandiflora One', serif;
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    position: relative;
    left: 240px;
    top: 15px;
    font-size: 15px;
  }
  
  section p {
    font-size: 20px;
    line-height: 1.9;
    color: #1e1d1d;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;

  }
  
  section .contact-info {
    margin-top: 40px;
  }
  
  section .contact-info ul li {
    margin-bottom: 10px;
    color: #333;
  }
  
  section .contact-info ul li i {
    margin-right: 10px;
    color: #ed4272;
  }
  
  section .contact-form input,
  section .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  section .contact-form textarea {
    height: 100px;
  }
  
  section .contact-form button {
    background-color: #ed4272;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  section .contact-form button:hover {
    background-color: #fa2964;
  }
  section#about{
    margin-top: 50px;
  }
  section #section-head{
    font-family: 'Changa', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 40px; 
    color: #fa2964;
  }
  .about-social-icons a li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

  }
  .about-social-icons a li:hover{
    color: #ed4272;
  }
    /* Media query for responsiveness */
    @media (max-width: 860px) {
      .icon {
        transform: translateX(-50%);
        top: -3%;
        left: 50px;
        transform: scale(.7);
      }
      section#home{
        display: flex;
        justify-content: start;
        align-items: start;

      }
    
      .icon img {
        bottom: 20px; /* Adjusted bottom position */
        transform: scale(1.5);
        float: left;
      }
      section#home h1 {
        margin-top: 25vh;
        position: relative;
        top: 50px;
        left: 30px;
        transform: scale(.8);
      }
      
      section#home h2 {
        position: relative;
        top: 30px;
        left: 10px;
        transform: scale(.7);

      }
      
     
      
      section#home h3 {
        position: relative;
        left: 110px;
        top: -8px;
        transform: scale(.9);
      }
        ul.vertical-navbar{
          position: fixed;
          right:-10px;
          transform: scale(.9);
        }
}